@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'Ink Free';
    src: URL('fonts/Inkfree.ttf') format('truetype');
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.dropdown>button:focus~.dropdown-menu {
    display: block;
}

.btn-group {
    display: flex;
}

.sidebar {
    min-width:185px;
}

a {
    text-decoration: none !important
}

.inkfree {
    font-family: 'Ink Free'
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

body {
  padding-bottom: 2rem;
}

.bg-header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0rem;
  background-color: #14416A;
  color: #ffffff;
}

.bg-subheader {
  padding: 1rem;
  background-color: #216CB1;
  color: #ffffff;
}

.bg-header a {
  color: #ffffff;
}

.bg-header a:hover {
  color: #5991C5;
}

.pagination-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}
.pagination-number.active {
  color: #fff;
  background: #5991C5;
}

.row .striped {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
}

.row .striped:nth-child(odd) {
  background-color: #e9ecef;
}
